*{
  box-sizing: border-box;
  /* border: 1px solid  */
}
:root {
  
  height: 100%;
  
}
body{
 
  height: 100%;
  padding: 0;
  margin : 0;
}
#root{
  height: 100%
}
.background-div{
  --main-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: blue; */
  height: 100%;
  background-color : var(--main-color);
  /* transition: background 5s; */
  /* animation: fadeIn 2s; */
}
.App{
  /* margin-top: auto; */
  width: 480px;
  min-height: 200px;
  background-color: white;
  padding: 20px;
  color:  var(--main-color);
  border-radius: 5px;
}
.quote--h1{

}
.author--h5{
  text-align: right;
}
.bottom-container{
  display: flex;
  align-items: center;
}
.fa-brands{
  font-size: 36px;
  margin-right: 10px;
  transition: color 1s;
}
.newQuote-btn{
  height: 34px;
  margin-left: auto;
  color: white;
  border: none;
  background-color: var(--main-color);
  /* transition: background-color 5s; */

}
.newQuote-btn, .background-div{
  transition: background-color 1s;
}
.quote--h1, .author--h5{
  animation: fadeIn 1s
}
 @keyframes fadeIn{
  0% {opacity:0} 
  100%{opacity: 100%}
 }
  @keyframes fadeOut{
    0%{opacity: 100%}
    100%{opacity: 0}
  }